@page "/"
@using ThisNotesForYou;
@using Microsoft.AspNetCore.Components.Forms
@using ThisNotesForYou.Blazor.Services
@using BootstrapBlazor
@using BootstrapBlazor.Components
@inject ThisNotesForYou.Blazor.Services.NotesClient Api
@inject IJSRuntime JS


<PageTitle>Notes</PageTitle>

<h1 class="text-center" style="background-color: #a5b4fc; color: black;">Notes</h1>

@if (loading)
{
    <p><em>Loading…</em></p>
}
else if (!string.IsNullOrWhiteSpace(error))
{
    <div class="alert alert-danger">@error <button @onclick="Reload">Retry</button></div>
}
else
{
<EditForm Model="formModel" OnValidSubmit="HandleValidSubmit"
    class="d-flex flex-row justify-content-center align-items-center gap-2 text-bg-dark p-3">
    <InputText @bind-Value="formModel.Title" />
    <InputText @bind-Value="formModel.Text" />
    <button class="btn btn-primary" style="background-color: #f9a8d4; color: black;" type="submit">Verstuur</button>
</EditForm>

@code {
    private MyFormModel formModel = new();
    private async Task HandleValidSubmit()
    {
        var NewNote = new CreateNoteRequest();
        NewNote.Title = formModel.Title;
        NewNote.Text = formModel.Text;

        await AddNote(NewNote);
    }
    public class MyFormModel
    {
        public string Title { get; set; } = string.Empty;
        public string Text { get; set; } = string.Empty;
    }
}

<hr />

@if (notes.Count == 0)
{
    <p><em>No notes yet.</em></p>
}
else
{
    <ul class="list-group">
        @foreach (var note in notes)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: #4f46e5; color: white;">
                <span>@note.Title : @note.Text : @note.CreatedAt.ToString("yyyy-MM-dd HH:mm")</span> <button
                    class="btn btn-danger btn-sm" @onclick="() => DeleteNote(note.Id)">Delete</button>
            </li>
        }
    </ul>
}
}

@code {
    private List<Note> notes = new();
    private bool loading = true;
    private bool submitting = false;
    private string? error;
    private CreateNoteRequest newNote = new();

    protected override async Task OnInitializedAsync() => await LoadNotes();

    private async Task LoadNotes()
    {
        notes = await Api.GetNotes();
        loading = false;
    }

    private async Task Reload() => await LoadNotes();

    private async Task AddNote(CreateNoteRequest req)
    {
        await Api.AddNote(req);
        await LoadNotes();
    }

    private async Task DeleteNote(Guid id)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Delete this note?");
        if (!ok) return;

        await Api.DeleteNote(id);
        await LoadNotes();
    }
}